parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - migrations
    # symfony:
    #     container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
    # scanFiles:
    #     - vendor/autoload.php
