CREATE TABLE password_reset_token (id INT AUTO_INCREMENT NOT NULL, token VARCHAR(100) NOT NULL, created_at DATETIME NOT NULL, expires_at DATETIME NOT NULL, user_id INT NOT NULL, UNIQUE INDEX UNIQ_6B7BA4B65F37A13B (token), INDEX IDX_6B7BA4B6A76ED395 (user_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4;
ALTER TABLE password_reset_token ADD CONSTRAINT FK_6B7BA4B6A76ED395 FOREIGN KEY (user_id) REFERENCES user (id) ON DELETE CASCADE;
ALTER TABLE course CHANGE course_file course_file VARCHAR(255) DEFAULT NULL, CHANGE course_link course_link VARCHAR(255) DEFAULT NULL, CHANGE created_at created_at DATETIME DEFAULT NULL;
ALTER TABLE activity ADD type VARCHAR(50) NOT NULL, ADD instructions LONGTEXT DEFAULT NULL, ADD expected_output LONGTEXT DEFAULT NULL, ADD hints LONGTEXT DEFAULT NULL, CHANGE file file VARCHAR(255) DEFAULT NULL, CHANGE link link VARCHAR(255) DEFAULT NULL;
ALTER TABLE event CHANGE start_time start_time DATETIME DEFAULT NULL, CHANGE end_time end_time DATETIME DEFAULT NULL, CHANGE color color VARCHAR(50) DEFAULT NULL, CHANGE category category VARCHAR(100) DEFAULT NULL;
ALTER TABLE exam CHANGE grade grade DOUBLE PRECISION DEFAULT NULL, CHANGE file file VARCHAR(255) DEFAULT NULL, CHANGE link link VARCHAR(255) DEFAULT NULL;
ALTER TABLE user ADD google_id VARCHAR(255) DEFAULT NULL, ADD is_verified TINYINT(1) NOT NULL, ADD verification_code VARCHAR(6) DEFAULT NULL, CHANGE roles roles JSON NOT NULL, CHANGE date_of_birth date_of_birth DATE DEFAULT NULL, CHANGE phone_number phone_number VARCHAR(255) DEFAULT NULL, CHANGE address address VARCHAR(255) DEFAULT NULL, CHANGE updated_at updated_at DATETIME DEFAULT NULL, CHANGE statut statut VARCHAR(255) DEFAULT NULL, CHANGE profile_picture profile_picture VARCHAR(255) DEFAULT NULL, CHANGE education_level education_level VARCHAR(255) DEFAULT NULL, CHANGE job_title job_title VARCHAR(255) DEFAULT NULL, CHANGE website website VARCHAR(255) DEFAULT NULL, CHANGE skills skills JSON DEFAULT NULL;
ALTER TABLE pomodoro_session CHANGE started_at started_at DATETIME DEFAULT NULL, CHANGE ended_at ended_at DATETIME DEFAULT NULL;
ALTER TABLE messenger_messages CHANGE delivered_at delivered_at DATETIME DEFAULT NULL;
