ALTER TABLE course CHANGE course_file course_file VARCHAR(255) DEFAULT NULL, CHANGE course_link course_link VARCHAR(255) DEFAULT NULL, CHANGE created_at created_at DATETIME DEFAULT NULL;
ALTER TABLE activity CHANGE file file VARCHAR(255) DEFAULT NULL, CHANGE link link VARCHAR(255) DEFAULT NULL;
ALTER TABLE exam CHANGE grade grade DOUBLE PRECISION DEFAULT NULL, CHANGE file file VARCHAR(255) DEFAULT NULL, CHANGE link link VARCHAR(255) DEFAULT NULL;
ALTER TABLE `group` ADD created_at DATETIME NOT NULL, ADD creator_id INT NOT NULL;
ALTER TABLE `group` ADD CONSTRAINT FK_6DC044C561220EA6 FOREIGN KEY (creator_id) REFERENCES user (id);
CREATE INDEX IDX_6DC044C561220EA6 ON `group` (creator_id);
ALTER TABLE user CHANGE roles roles JSON NOT NULL, CHANGE date_of_birth date_of_birth DATE DEFAULT NULL, CHANGE phone_number phone_number VARCHAR(255) DEFAULT NULL, CHANGE address address VARCHAR(255) DEFAULT NULL, CHANGE updated_at updated_at DATETIME DEFAULT NULL, CHANGE statut statut VARCHAR(255) DEFAULT NULL;
ALTER TABLE pomodoro_session CHANGE started_at started_at DATETIME DEFAULT NULL, CHANGE ended_at ended_at DATETIME DEFAULT NULL;
ALTER TABLE messenger_messages CHANGE delivered_at delivered_at DATETIME DEFAULT NULL;
