DROP TABLE recommendation;
ALTER TABLE activity ADD type VARCHAR(50) NOT NULL, ADD instructions LONGTEXT DEFAULT NULL, ADD expected_output LONGTEXT DEFAULT NULL, ADD hints LONGTEXT DEFAULT NULL, ADD completed_at DATETIME DEFAULT NULL, ADD assigned_user_id INT DEFAULT NULL;
ALTER TABLE activity ADD CONSTRAINT FK_AC74095AADF66B1A FOREIGN KEY (assigned_user_id) REFERENCES user (id);
CREATE INDEX IDX_AC74095AADF66B1A ON activity (assigned_user_id);
ALTER TABLE event ADD start_time DATETIME DEFAULT NULL, ADD end_time DATETIME DEFAULT NULL, ADD color VARCHAR(50) DEFAULT NULL, ADD category VARCHAR(100) DEFAULT NULL, ADD notes LONGTEXT DEFAULT NULL, ADD all_day TINYINT(1) DEFAULT NULL, ADD reminder_minutes INT DEFAULT NULL;
ALTER TABLE user ADD score INT DEFAULT 0 NOT NULL;
ALTER TABLE notification DROP FOREIGN KEY FK_BF5476CAD173940B;
ALTER TABLE notification DROP FOREIGN KEY FK_BF5476CAA76ED395;
DROP INDEX IDX_BF5476CAD173940B ON notification;
ALTER TABLE notification ADD link VARCHAR(255) DEFAULT NULL, DROP recommendation_id, DROP title, DROP type, CHANGE user_id user_id INT NOT NULL, CHANGE content content VARCHAR(255) NOT NULL, CHANGE is_read is_read TINYINT(1) NOT NULL, CHANGE created_at created_at DATETIME NOT NULL;
ALTER TABLE notification ADD CONSTRAINT FK_BF5476CAA76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
ALTER TABLE project_task ADD deadline DATETIME DEFAULT NULL, ADD completed_at DATETIME DEFAULT NULL, ADD assigned_user_id INT DEFAULT NULL;
ALTER TABLE project_task ADD CONSTRAINT FK_6BEF133DADF66B1A FOREIGN KEY (assigned_user_id) REFERENCES user (id);
CREATE INDEX IDX_6BEF133DADF66B1A ON project_task (assigned_user_id);
ALTER TABLE task ADD deadline DATETIME DEFAULT NULL, ADD completed_at DATETIME DEFAULT NULL, ADD assigned_user_id INT DEFAULT NULL;
ALTER TABLE task ADD CONSTRAINT FK_527EDB25ADF66B1A FOREIGN KEY (assigned_user_id) REFERENCES user (id);
CREATE INDEX IDX_527EDB25ADF66B1A ON task (assigned_user_id);
